


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" th:value="${user.username}" placeholder="Usuario" required/>
            <br/>
            
            <label for="password">Contraeña:</label>
            <input type="password" id="password" name="password" th:value="${user.password}" placeholder="Contraseña" required/>
        <br/>
        
        <button type="submit">Entrar</button>
        </form>
        <p th:text="${error}"></p>
    </div>
</body>
</html>